# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch checkpoints and weights
checkpoints/
*.pt
*.bin

# Datasets and local data
data/
*.memmap

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp
